# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
asgiref=3.5.0=pypi_0
autopep8=1.5.6=pypi_0
bzip2=1.0.8=h8ffe710_4
ca-certificates=2021.10.8=h5b45459_0
certifi=2021.10.8=pypi_0
charset-normalizer=2.0.12=pypi_0
coreapi=2.3.3=pypi_0
coreschema=0.0.4=pypi_0
django=3.2.6=pypi_0
django-cors-headers=3.11.0=pypi_0
django-filter=21.1=pypi_0
djangorestframework=3.13.1=pypi_0
djangorestframework-jwt=1.11.0=pypi_0
docopt=0.6.2=pypi_0
drf-yasg=1.20.0=pypi_0
idna=3.3=pypi_0
inflection=0.5.1=pypi_0
itypes=1.2.0=pypi_0
jinja2=3.0.3=pypi_0
libffi=3.4.2=h8ffe710_5
libzlib=1.2.11=h8ffe710_1013
markupsafe=2.1.0=pypi_0
openssl=3.0.0=h8ffe710_2
packaging=21.3=pypi_0
pip=22.0.3=pyhd8ed1ab_0
pipreqs=0.4.11=pypi_0
pycodestyle=2.7.0=pypi_0
pyjwt=1.7.1=pypi_0
pyparsing=3.0.7=pypi_0
python=3.9.10=hcf16a7b_2_cpython
python_abi=3.9=2_cp39
pytz=2021.3=pypi_0
requests=2.27.1=pypi_0
ruamel-yaml=0.17.21=pypi_0
ruamel-yaml-clib=0.2.6=pypi_0
setuptools=60.9.3=py39hcbf5309_0
sqlite=3.37.0=h8ffe710_0
sqlparse=0.4.2=pypi_0
tk=8.6.12=h8ffe710_0
toml=0.10.2=pypi_0
tzdata=2021e=he74cb21_0
ucrt=10.0.20348.0=h57928b3_0
uritemplate=4.1.1=pypi_0
urllib3=1.26.8=pypi_0
vc=14.2=hb210afc_6
vs2015_runtime=14.29.30037=h902a5da_6
wheel=0.37.1=pyhd8ed1ab_0
wincertstore=0.2=pypi_0
xz=5.2.5=h62dcd97_1
yarg=0.1.9=pypi_0
